<section>

	<p class="copyright">Copyright &copy; @current_year, @site-author, All Rights Reserved.</p>
				

	
	<p class="credits">
	<strong>Credits:</strong> Content managed by <a href="http://www.staceyapp.com">Stacey @stacey_version</a>. Slideshows throughout the site use the <a href="http://backflip.github.com/jquery-carousel/">backflip/jQuery Carousel</a>. This theme was built using <a href="http://panic.com/coda/">Coda 2</a>, <a href="http://incident57.com/codekit/">Codekit</a>, CSS3, HTML5, and <a href="http://lesscss.org/">LESS</a>. Theme Designed by <a href="#">Mike Davis</a>.
	</p>

</section>

<a class="atom-rss" href="@root_path/?/feed/">RSS</a>