<!-- !META -->
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta name="author" content="@site-author" />
<meta name="date" content="2012" />
<meta name="keywords" content="@site-keywords" />
<meta name="description" content="@site-description" />


<!-- !Title -->
<title>@site-name | @page-title</title>


<!-- !CSS -->
<link rel="stylesheet" href="@root_path/assets/docs/css/screen.css" type="text/css" media="screen">


<!-- !Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:300,700' rel='stylesheet' type='text/css'>


<!-- !Scripts -->

<script src="@root_path/assets/docs/js/jquery-1.8.3.min.js"></script>
<script src="@root_path/assets/docs/js/modernizr.js"></script>