<!-- !Scripts -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="@root_path/assets/docs/js/bootstrap.min.js"></script>
<script src="@root_path/assets/docs/js/jquery.flexslider.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $.get('@root_path/content/_favoritethings.txt', function (data) {
            var quotes = data.split(";");
            var idx = Math.floor(quotes.length * Math.random());
            $('.favoritethings-yes').html(quotes[idx]);
        });
        
         $('.flexslider').flexslider({
    animation: "slide"
  });
  
    });
</script>




</body>
</html>