<!DOCTYPE html>
<html lang="en">
  <head>

<!-- !META -->
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="@site-author" />
<meta name="date" content="@site-date" />
<meta name="keywords" content="@site-keywords" />
<meta name="description" content="@site-description" />


<!-- !Title -->
<title>@site-name | @title</title>


<!-- !CSS -->

 <!-- Bootstrap core CSS -->
<!-- <link rel="stylesheet" href="@root_path/assets/docs/css/bootstrap.css"> -->
<link rel="stylesheet" href="@root_path/assets/docs/css/flexslider.css">
<link rel="stylesheet" href="@root_path/assets/docs/css/style.css">

<!-- !Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Merriweather:300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:300,700' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>