/* Colours */
body,
a {
  color: #222;
}
a {
  color: #002c43;
}
/* LESS Styles */
/* !Typography */
body,
input {
  font-family: "Helvetica", helvetica, "Helvetica Neue", arial, sans-serif;
  font-size: 16px;
}
ul li,
p,
em {
  font-style: normal;
  letter-spacing: -0.01em;
}
a {
  text-decoration: none;
}
/* !Layout */
* {
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body {
  padding: 0;
  margin: 0;
  background: url(../../images/bright_squares.png) fixed;
}
header {
  width: 320px;
  height: 100%;
  padding: 20px;
  position: fixed;
  z-index: 200;
}
header ul {
  list-style-type: none;
  padding: 0;
}
.feature {
  margin-left: 320px;
  padding: 20px;
  height: 240px;
  background-color: aqua;
  position: fixed;
  width: 100%;
  z-index: 50;
  border: 1px solid white;
}
.project-list {
  height: 100%;
  padding: 0;
  padding-top: 240px;
  margin-left: 320px;
  margin-right: 0;
  right: 0;
  position: relative;
  z-index: 100;
}
.project-list article {
  padding: 0;
  margin: 0;
  float: left;
  border: solid white;
  border-width: 0px 0px 1px 1px;
  overflow: hidden;
  text-align: center;
}
.project-list article .thumbnail a {
  margin: 0;
  padding: 0;
  display: block;
  height: auto;
}
.project-list article .thumbnail img {
  width: 400px;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
footer {
  clear: both;
  margin-left: 320px;
  padding: 20px;
  font-size: 70%;
  z-index: 300;
}
a img {
  border: 0px;
}
a.atom-rss {
  margin: 0px 0px 0px 6px;
  padding: 2px 3px 0px;
  font-size: 0.93em;
  letter-spacing: 0.08em;
  background: #ddd;
}
@media screen and (min-width: 600px) {
  .project-list article {
    width: 100%;
  }
}
@media screen and (min-width: 720px) {
  .project-list article {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .project-list article {
    width: 33.33%;
  }
}
@media screen and (min-width: 1380px) {
  .project-list article {
    width: 25%;
  }
}
