/* Colours */
/* LESS Styles */
.raleway {
  font-family: 'Raleway', sans-serif;
}
.merriweather {
  font-family: 'Merriweather', serif;
}
/* Utility Styles */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* !Typography */
body,
input {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background: url(../../images/bright_squares.png) fixed;
  color: #222;
}
ul li,
p,
em {
  font-style: normal;
  letter-spacing: -0.01em;
}
a {
  text-decoration: none;
}
/* !Layout */
* {
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
::selection {
  background-color: #ff1493;
  color: white;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
header {
  width: 100%;
  height: 112px;
  position: fixed;
  top: 0;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
header h1 {
  float: left;
  margin-left: 10%;
  margin-top: 0;
  padding: 0;
  line-height: 112px;
  position: relative;
  z-index: 10000;
}
header h1 a {
  color: #ff1493;
}
header .nav-toggle {
  float: right;
  margin-right: 10%;
  margin-top: 36px;
  color: white;
  background-color: #ff1493;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (min-width: 640px) {
  header nav {
    float: right;
    margin: 0;
    margin-right: 10%;
    padding: 0;
    padding-right: 10%;
    height: 112px;
    text-align: right;
    margin-top: -112px;
  }
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  header nav ul li {
    display: inline;
    margin: 0;
    margin-left: 20px !important;
    line-height: 112px !important;
    border-bottom: none !important;
  }
  header nav ul li a {
    color: white;
    background-color: #ff1493 !important;
    padding: 10px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }
  header nav ul li a:hover {
    color: white;
    background-color: #ad005d;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }
}
.feature {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  background-color: #ff1493;
  z-index: 0;
}
.feature .intro {
  margin-top: 150px;
  text-align: center;
  padding: 15px;
}
.feature .intro p {
  color: white;
  max-width: 40rem;
  margin: 0 auto;
}
.feature .intro .name {
  margin-left: 2%;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 5px;
}
.feature-scroll {
  width: 100%;
  height: 400px;
  margin-top: 112px;
  margin-bottom: -120px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}
.project-list {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 400px;
  position: relative;
  z-index: 100;
  min-height: 100%;
  border-top: 1px solid white;
  border-left: 1px solid white;
  background-color: white;
}
.project-list article {
  padding: 0;
  margin: 0;
  float: left;
  box-sizing: border-box;
  border: solid white;
  border-width: 1px;
  overflow: hidden;
  text-align: center;
}
.project-list article .thumbnail {
  background-color: black;
}
.project-list article .thumbnail a {
  margin: 0;
  padding: 0;
  display: block;
  height: auto;
}
.project-list article .thumbnail img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.clear {
  clear: both;
}
#content {
  margin: 0 auto;
  width: 960px;
  margin-top: 50px;
}
#content h2 {
  font-size: 250%;
}
#content h2 a {
  color: white;
}
#content h2 a:hover {
  color: #ff1493;
}
footer {
  clear: both;
  margin: 0 10%;
  padding: 20px 0 0;
  font-size: 80%;
  position: relative;
  z-index: 300;
  height: 350px;
}
footer section {
  float: left;
  width: 75%;
}
footer .credits {
  border-top: 1px solid #888;
  padding-top: 5px;
  float: left;
  font-size: 88%;
  width: 60%;
}
footer .credits a {
  color: #ff1493;
}
footer .credits a:hover {
  color: #ff1493;
}
/* Homepage Thumbnail Styles */
.thumbnail {
  max-height: 230px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.thumbnail a img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.thumbnail a {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: transparent;
  display: block;
  padding-top: 181px !important;
  position: relative;
  z-index: 10;
  margin-left: 0px;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.thumbnail a:hover {
  padding-top: 0px !important;
}
.thumbnailContent {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #000000;
  /* IE8 Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  min-height: 230px;
  padding: 20px;
  position: relative;
}
.thumbnail a span.title {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  /* width: 260px; */
  display: block;
  font-weight: bold;
  color: white;
}
.thumbnail a span.description {
  font-size: .8em;
  display: block;
  padding-top: 10px;
  color: white;
}
.thumbnail a span.date {
  color: #999;
  display: block;
  text-transform: uppercase;
  font-size: .8em;
  position: absolute;
  bottom: 20px;
  color: white;
}
/* !Other Styles */
p.favoritethings-no {
  display: none;
}
a {
  color: #5856cc;
}
a img {
  border: 0px;
}
a.atom-rss {
  margin: 0px 0px 0px 6px;
  padding: 5px;
  float: right;
  font-size: 0.93em;
  letter-spacing: 0.08em;
  background: #ff1493;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* !Media Queries for Layout */
@media screen and (min-width: 320px) {
  .project-list article {
    width: 100%;
  }
  .intro p.favoritethings-yes {
    font-size: 125%;
  }
  .intro p.name {
    font-size: 100%;
  }
  #media .image img {
    width: 100%;
    height: auto;
  }
  .nav-collapse.opened,
  .nav-collapse.closed {
    background-color: #ff1493;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.5);
  }
}
@media screen and (min-width: 640px) {
  .project-list article {
    width: 50%;
  }
  .intro p.favoritethings-yes {
    font-size: 150%;
  }
  .intro p.name {
    font-size: 150%;
  }
  #media {
    margin-bottom: 80px;
  }
  #media .image img {
    width: auto;
    height: auto;
  }
  .nav-collapse.opened,
  .nav-collapse.closed {
    background-color: transparent;
  }
}
@media screen and (min-width: 720px) {
  .project-list article {
    width: 33.333%;
  }
  .intro p.favoritethings-yes {
    font-size: 175%;
  }
}
@media screen and (min-width: 1024px) {
  .project-list article {
    width: 25%;
  }
  .intro p.favoritethings-yes {
    font-size: 200%;
  }
}
@media screen and (min-width: 1280px) {
  .project-list article {
    width: 20%;
  }
  .intro p.favoritethings-yes {
    font-size: 200%;
  }
  .intro p.name {
    font-size: 150%;
  }
}
