<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
	
		:head
	
	</head>
	
	<body>
		
		<header>
			
				<h1><a href="./">@site-name</a></h1>
				
				<nav>
					:pages
				</nav>
						
		</header>
		
		<section class="feature">
			
			<div class="intro">
				<p class="name">Hello, my name is <strong>@site-author</strong>.</p>
				<p class="favoritethings-@favoritethings"></p>
			</div> 
			
		</section>
	
		<section class="project-list">
			
			:categories-list
			
		</section>
		
		<footer>
			
			:footer
						
		</footer>
		
	</body>
	
</html>